<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1> Greetings from airbnbclone! </h1>
    <p>
      Congratulations! You have successfully made your reservations :). We hope that you enjoy your stay.
    </p>
  </body>
</html>